@page "/"

<h1 class="title">Klub Wędkarski</h1>

<div class="card">
    <h2>Szymon Zakrzewicz</h2>
    <p><strong>Numer albumu:</strong> 123804</p>
    <p>Szymon to zapalony wędkarz, specjalizujący się w połowie szczupaków i karpi. Członek klubu od 2020 roku.</p>
</div>
